.navbar-brand {
    /*margin-left: 95px;*/
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.navbar-light {
    color: white;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 15px;
}
.phoneNumber {
    color: #007bff;
}
.navbar {
    background-color: rgb(87, 0, 128);
    color: cornflowerblue;
}

.card-deck {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
}
body {
    background-color: black;
}
.about {
    background-color: black;
    color: white;
font-weight: 100;
}
.float-left {
    padding-right: 10px;
}
.card {
    border-color: black;
}
.card2 {
    text-align: center;
}
.header {
   justify-content: space-evenly;
   display: flex;
}

.tech {
    padding-left: 5px;
    padding-right: 2px;
}
.portfolio {
    color: white;
}
.tech {
    border-style: double;
    /* background-color: black;
    color: white; */
}
.num {
    color: 007bff;
}
ul {
    font-weight: 150;
}
.techArea {
    font-weight: 150;
    font-size: large;
}