.navbar-brand {
    /*background-color: turquoise;*/
    /*margin-left: 95px;*/
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: turquoise;
    color: black;
    text-align: center;
}
.phoneNumber {
    color: #007bff;
}
.navbar {
    background-color: turquoise;
}

